<div class="menu-container">
  <mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="menu-title"><mat-icon>arrow_back</mat-icon>  Selecciona el menú  <mat-icon>commute</mat-icon></span>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>directions_car</mat-icon><a href="/ingreso"> Registro de Ingreso Vehículo</a>
      </button>
      <button mat-menu-item>
        <mat-icon>local_car_wash</mat-icon><a href="/salida">Registro de Salida Vehículo </a>
      </button>
      <button mat-menu-item>
        <mat-icon>list</mat-icon><a href="/registros"> Listado de Registros</a>
      </button>
    </mat-menu>
  </mat-toolbar>
</div>

<router-outlet></router-outlet>