/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.css";

html,
body {
    height: 100%;
    background-image: url('./parqueadero1.jpg');
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: large;
    /* background-image: url('granpar.jpeg'); */
}

/* .mat-typography {
    background-image: url('granpar.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
} */